<template name="cart">
	<div class="page-header">
		<h1>
			<small>My Cart</small>
		</h1>
	</div>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th>Qty</th>
			<th>Product</th>
			<th>Price</th>
			<th></th>
		</thead>
		<tbody>
			{{#each shopCart}}
			<tr>
				<td>{{qty}}</td>
				<td>{{productname}}</td>
				<td>{{currency price}}</td>
				<td><span class="btn btn-link removeci">X</span></td>
			</tr>
			{{else}}
				<tr>
					<td colsapn="3">No Products in Cart</td>
				</tr>
			{{/each}}
			<tr>
	            <td class="totalcol" colspan="2">SubTotal:</td>
	            <td colspan="2">{{currency shopCart.subtotal}}</td>
	        </tr>
	        <tr>
	            <td class="totalcol" colspan="2">Tax 9.2%:</td>
	            <td colspan="2">{{currency shopCart.tax}}</td>
	        </tr>
	        <tr>
	            <td class="totalcol" colspan="2">Total:</td>
	            <td colspan="2">{{currency shopCart.total}}</td>
	        </tr>
			
		</tbody>
	</table>
	 {{#if shopCart.itemCount }}
	 
	  	<button class="btn btn-link cancelOrder">Cancel</button>
      	<button class="btn btn-link" data-toggle="modal" data-target="#myModal">Complete Order</button> 

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How do we communicate with you?</h4>
      </div>
      <div class="modal-body">
        Call/Text: (or) Email:
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Complete Order</button>
      </div>
    </div>
  </div>
</div>
  	
  	{{/if}}
</template>
