<template name="foodsList">
<div class="mainContent"> 
 
 	{{ > appetizersList }}
 	{{ > entreesList }}
	{{ > desertsList }}
  <!-- Links to expore your past projects and download your CV -->
  <div class="externalResourcesNav">
    <div class="externalResources"><a href="#" title="Download CV Link">CALL US</a></div>
    <span class="stretch"></span>
    <div class="externalResources"><a href="http://websheet.co/bombayexpress/order.html" title="Behance Link">Order</a></div>
    <span class="stretch"></span>
    <div class="externalResources"><a href="{{ pathFor 'listToOrder'}}" title="Github Link">ORDER ONLINE</a></div>
  </div>
</div>
</template>
