<template name="foodsList">
<div class="mainContent"> 
 
 	{{ > appetizersList }}
 	{{ > entreesList }}
	{{ > desertsList }}
  <!-- Links to expore your past projects and download your CV -->
  <div class="externalResourcesNav">
    <div class="externalResources"><a href="#" title="Download CV Link">CALL US</a></div>
    <span class="stretch"></span>
    <div class="externalResources"><a href="#" title="Behance Link">LOCATE US</a></div>
    <span class="stretch"></span>
    <div class="externalResources"><a href="#" title="Github Link">EMAIL US</a></div>
  </div>
</div>
<footer>
  <hr>
  <p>2014  WebSheets - All Rights Reserved</p>
  <p class="footerNote">BOMBAY EXPRESS - <span>Email me</span></p>
</footer>

</template>
